@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col p-0">
            <img src="~/imagenes/bannerPaginaPrincipal2.png" class="img-fluid" style="max-width: 104%; height: auto" />
        </div>
        <div class="col p-0">
            <img src="~/imagenes/bannerPaginaPrincipal2.png" class="img-fluid" style="max-width: 104%; height: auto" />
        </div>
        <div class="col p-0">
            <img src="~/imagenes/bannerPaginaPrincipal2.png" class="img-fluid" style="max-width: 104%; height: auto" />
        </div>
    </div>
    <div class="row">
        <p class="h1 m-4">Pruebe nuestros combos:</p>
    </div>
    <div class="row" style="margin-left:3%">
        <div class="col-lg-4">
            <div class="card card-inicio carta-producto text-center border-dark shadow bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                <img class="card-img-top imagen-producto" src="~/imagenes/bannerPaginaPrincipal.jpg" alt="Card image cap">
                <div class="btn btn-primary noHover precio-producto" >Precio</div>
                <button type="button" class="btn btn-primary boton-agregar-carrito">Agregar al carrito</button>
                <div class="card-body">
                    <p class="h5">Nombre del combo</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-inicio carta-producto text-center border-dark shadow bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                <img class="card-img-top imagen-producto" src="~/imagenes/bannerPaginaPrincipal.jpg" alt="Card image cap">
                <div class="btn btn-primary noHover precio-producto">Precio</div>
                <button type="button" class="btn btn-primary boton-agregar-carrito">Agregar al carrito</button>
                <div class="card-body">
                    <p class="h5">Nombre del combo</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-inicio carta-producto text-center border-dark shadow bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                <img class="card-img-top imagen-producto" src="~/imagenes/bannerPaginaPrincipal.jpg" alt="Card image cap">
                <div class="btn btn-primary noHover precio-producto">Precio</div>
                <button type="button" class="btn btn-primary boton-agregar-carrito">Agregar al carrito</button>
                <div class="card-body">
                    <p class="h5">Nombre del combo</p>
                </div>
            </div>
        </div>
    </div>
</div>